* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header .logo h1 {
    font-size: 2em;
    margin: 0;
}

nav ul {
    list-style: none;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.produtos {
    padding: 20px;
    background-color: white;
    text-align: center;
}

.produtos h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.produtos-lista {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.produto {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    width: 250px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.produto img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.produto h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.produto p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.produto button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.produto button:hover {
    background-color: #555;
}

.contato {
    padding: 20px;
    background-color: #e4e4e4;
    text-align: center;
}

.contato h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

footer p {
    font-size: 1em;
}
